@import '../../styles/responsive';
@import '../../styles/variables';

.footer {
  padding: 20px;
  background-color: $light-grey;
  color: $semi-black;
  margin: 0 auto;
  @include respond-to($xlarge){
    padding: 20px 200px;
  }
}

.sectionOne {
  border-bottom: 2px solid rgba(0, 0, 0, 0.16);
}

.list {
  left: none;
  margin: 0;
  list-style: none;
}

.listItem {
  font-size: 13px;
  line-height: 1.3333733333;
  font-weight: 400;
  letter-spacing: -0.01em;
  padding-bottom: 0.8em;
}

a {
  text-decoration: underline;
  color: $semi-black-transparent;
}

.sectionTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond-to($xlarge){
    flex-direction: row;
  }
}

.menuList {
  left: none;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;

  @include respond-to($xlarge){
    border-bottom: none;
  }

}

.sectionTwo {
  display: flex;
  padding-top: 20px;
}

.menuItemHeading {
  color: $black;
  font-size: 12px;
  display: flex;
  font-weight: 500;
  pointer-events: auto;
  margin-bottom: 0.8em;
  text-decoration: none !important;
  justify-content: space-between;

  @include respond-to($large){
    font-size: 13px;

  }

}

.chevronIcon{
  display: flex;

  @include respond-to($large){
    display: none;
  }
}

.menuItem {
  font-size: 13px;
  display: block;
  pointer-events: auto;
  margin-bottom: 0.8em;
  color: $semi-black-transparent;
}

.menuItem:hover,
.menuItemHeading:hover,
.bottomMenuItem:hover,
.footerLinks:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sectionThree {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.footerInfoText {
  font-size: 13px;
  display: block;
  pointer-events: auto;
  margin-bottom: 0.8em;
  color: $semi-black-transparent;
}

.sectionFour {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.bottomLinks {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; 
}

.bottomMenuItem,
.copyrightText {
  font-size: 13px;
  display: block;
  pointer-events: auto;
  margin-bottom: 0.8em;
  color: $semi-black-transparent;
  margin: 5px 3px;


  @include respond-to($large){
    margin: 0 3px;

   }
}

.leftContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  @include respond-to($large){
   flex-direction: row;
  }
}

.copyrightText {
  margin-right: 35px;
}
