@import "../../../styles/responsive";
@import "../../../styles/variables";

.container {
  background-color: $light-grey;
}

.sectionOne {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://www.apple.com/v/tv-home/n/images/overview/hero__dbphk49ymi2q_large.jpg");
  height: 620px;
  background-repeat: no-repeat;
  background-position: center 80px;
  background-size: 300px;
  position: relative;

  @include respond-to($large) {
    background-size: 750px;
    height: 800px;
    margin-bottom: 60px;

  }
}

.sectionOne .textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0px;
  width: 90%;

  @include respond-to($large) {
    width: 70%;
  }
}

.sectionTwo,
.sectionThree {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 0px 30px;
  flex-direction: column;

  @include respond-to($large) {
    flex-direction: row;
    padding: 50px 70px 0px 70px;
  }
}
.sectionTwo .leftContainer {
  width: 100%;
  background-image: url("https://www.apple.com/v/tv-home/n/images/overview/homepod__eam53jjm772a_large.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-size: 100% 200px;
  background-color: $black;
  border-radius: 18px;
  height: 520px;
  margin-bottom: 30px;

  @include respond-to($large) {
    width: 49%;
    height: 700px;
    margin: 0;
  }
}

.sectionTwo .leftContainer .content,
.sectionTwo .rightContainer .content,
.sectionThree .rightContainer .content,
.sectionThree .rightContainer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.sectionTwo .rightContainer {
  width: 100%;
  background-image: url("https://www.apple.com/v/tv-home/n/images/overview/room_filling_sound__zagu3551kwyi_large.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-size: 100% 200px;
  height: 520px;
  background-color: $white;
  border-radius: 18px;
  text-align: center;

  @include respond-to($large) {
    width: 49%;
    height: 700px;
    background-size: 100% 500px;
  }
}

.sectionTwo .buttonContainer,
.sectionThree .buttonContainer {
  margin-top: 20px;
}

.sectionThree .leftContainer {
  width: 100%;
  background-image: url("https://www.apple.com/v/tv-home/n/images/overview/apple_tv_4k__b30wcqp0pdle_large.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-size: 100% 250px;
  height: 520px;
  background-color: $white;
  border-radius: 18px;
  text-align: center;
  margin-bottom: 30px;


  @include respond-to($large) {
    width: 49%;
    height: 700px;
    background-size: 80% 400px;
    margin: 0;
  }
}

.sectionThree .rightContainer {
  width: 100%;
  background-image: url("https://www.apple.com/in/tv-home/images/overview/homeapp__cpc1k972xys2_large.jpg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;
  background-size: 100% 250px;
  height: 570px;
  background-color: $white;
  border-radius: 18px;
  text-align: center;

  @include respond-to($large) {
    width: 49%;
    height: 700px;
    background-size: 80% 350px;
  }
}

.sectionThree .leftContainer .content,
.sectionThree .rightContainer .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.sectionFour,
.sectionFive {
  padding-top: 120px;
}

.sectionFour .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;

  @include respond-to($large) {
    padding-bottom: 80px;
  }
}

.sectionFive .heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.sectionFour .heading h2,
.sectionFive .heading h2 {
  font-size: 34px;
  line-height: 1;
  font-weight: 700;
  letter-spacing: -0.009em;
  text-align: center;

  @include respond-to($large) {
    font-size: 64px;
    letter-spacing: -0.009em;
  }
}

.sectionFour .cardContainer {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  overflow-y: auto;

  @include respond-to($large){
    width: auto;
    justify-content: center

  }
}

.sectionFour .card {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 30px;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-left: 20px;
  text-align: center;
  margin-right: 20px;

  @include respond-to($large) {
    width: 380px;
  }
}

.card a{
  width: max-content;
}

.margin {
  margin-bottom: 10px;
}

.sectionFour a,
.sectionSix a {
  text-decoration: none;
}
.sectionFour a:hover,
.sectionSix a:hover {
  text-decoration: underline;
  text-decoration-color: $text-blue;
}

.sectionFour .card:nth-child(1) {
  background-image: url("https://www.apple.com/in/tv-home/images/overview/smart_control__dsa6v8m1pp0m_large.jpg");
}

.sectionFour .card:nth-child(2) {
  background-image: url("https://www.apple.com/v/tv-home/n/images/overview/smart_connect__d8o6agoqfh0m_large.jpg");
}

.sectionFour .card:nth-child(3) {
  background-image: url("https://www.apple.com/in/tv-home/images/overview/security_and_privacy__bzlguj2x29jm_large.jpg");
}

.sectionFive .videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
  margin-bottom: -14px;

  @include respond-to($large) {
    height: 800px;
  }
}

.sectionFive video {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  max-height: 86%;
  z-index: 1;
  pointer-events: none;
  padding: 10px;

  @include respond-to($large) {
    padding-bottom: 50px;
  }
}

.sectionSix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0px 30px;

  @include respond-to($large) {
    padding: 0px 120px;
  }
}

.sectionSix button {
  @include respond-to($large) {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.sectionSix .productContainer,
.sectionSix .infoContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 40px;

  @include respond-to($large) {
    flex-direction: row;
    margin-top: 0;
    margin-bottom: 100px;
  }
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  @include respond-to($large){
    margin: 0;
  }
}


.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  @include respond-to($large){
    margin: 0;
  }
}


.product .buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  width: 100%;

  @include respond-to($large) {
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}

.product img{
  width: 150px;
  @include respond-to($large){
    width: 200px;

  }
}
