.button {
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    display: inline-block;
    text-align: center;
    
  }
  
  .small {
    font-size: 14px;
  }
  
  .big {
    font-size: 18px;
    padding: 10px 15px;
  }
  
  .primary {
    background-color: #0071e3;
    color: white;
  }
  
  .primary:hover {
    background-color: #005bb5; 
  }
  
  .secondary {
    background-color: black;
    color: #2997ff;
    border: 2px solid #2997ff;
  }
  
  .secondary:hover {
    background-color: #0071e3;
    color: white;
    border-color: #0071e3;
  }
  