.container{
    display: flex;
    justify-content: center;
    padding: 20px;
    backdrop-filter: saturate(180%) blur(20px);
    background: rgba(245, 245, 247, .6);
}

.productContainer{
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.productContainer span{
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 1.3333733333;
    font-weight: 400;
    letter-spacing: -0.01em;
}