@import '../../styles/responsive';
@import '../../styles/variables';

.button {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: none;
  display: inline-block;
  text-align: center;
}

.primary {
  background-color: $blue-primary;
  color: $white;
  font-size : 10px
}

.plain {
  background-color:transparent;
  color: $blue-light;
  font-size : 10px
}

.primary:hover {
  background-color: $blue-deep;
}

.secondary {
  background-color: transparent;
  color: $blue-light;
  border: 2px solid $blue-light;
}

.secondary:hover {
  background-color: $blue-primary;
  color: $white;
  border-color: $blue-primary;
}

.small {
  font-size: 14px;
}

.big {
  font-size: 14px;
  padding: 10px 15px;

  @include respond-to($large){
    font-size: 18px;
  }
}
