
// Core Colors
$black: #000000;
$white: #ffffff;
$light-grey: #f5f5f7; //245 245 247
$dark-grey: #86868b; 
$blue-primary: #0071e3; 
$text-blue: #06c; 
$blue-light: #2997ff;
$blue-deep: #005bb5;
$gradient-1: #0090f7; 
$gradient-2: #ba62fc; 
$gradient-3: #f2416b; 
$gradient-4: #f55600;
$shop-link: #0071e3;
$hover-blue: #0071e3; 
$dark-background: #1D1D1F; //29 29 31



// Transparent Colors
$semi-black: rgba(0, 0, 0, 0.56);
$border-black-light: rgba(0, 0, 0, 0.16);
$border-black-dark: rgba(22, 22, 23, 0.9);
$semi-white: rgba(255, 255, 255, 0.9);
$transparent-grey: rgba(245, 245, 247, 0.6);
$semi-black-transparent: rgba(0, 0, 0, 0.72);



